<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8">
    <title>Node Tutorial</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">--> 
</head>
 
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand" href="/">Node Tutorial</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li><a href="/Log In">Log In</a></li>
        </ul>
    </div>
</div>
 
<div class="container">